<div class="products">
  <mat-card *ngFor="let product of products" class="product-card">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-content>
      <p>Preço: {{ product.price | currency:'BRL' }}</p>
      <p>Estoque: {{ product.stockQuantity - (cart[product.id] || 0) }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="adicionar(product)">Adicionar</button>
      <button mat-button color="warn" (click)="remover(product)">Remover</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- CARD DE ORDER (CARRINHO) -->
<mat-card class="order-card">
  <mat-card-title>Pedido</mat-card-title>
  <mat-card-content *ngIf="getCartItems().length; else vazio">
    <div *ngFor="let item of getCartItems()">
      {{ item.product.name }} - {{ item.quantity }}x ({{ item.product.price | currency:'BRL' }}) 
    </div>
    <hr />
    <p><strong>Total:</strong> {{ getTotal() | currency:'BRL' }}</p>
     <button mat-raised-button color="accent" (click)="finalizarPedido()">Finalizar Pedido</button>
  </mat-card-content>
  <ng-template #vazio>
    <p>Carrinho vazio</p>
  </ng-template>
</mat-card>

<!--CARD LISTA DE ORDERS-->
<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Filtrar por status</mat-label>
    <mat-select [(value)]="selectedStatus" (selectionChange)="applyFilter()">
      <mat-option value="">Todos</mat-option>
      <mat-option value="PENDING">PENDENTE</mat-option>
      <mat-option value="PAID">PAGO</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngFor="let order of filteredOrders" class="order-card">
    <mat-card>
      <mat-card-title>Pedido #{{ order.id }}</mat-card-title>
      <mat-card-content>
        <p>Total: {{ order.totalAmount | currency:'BRL' }}</p>
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select [(value)]="order.status" (selectionChange)="onStatusChange(order.id, $event.value)">
            <mat-option value="PENDING">PENDENTE</mat-option>
            <mat-option value="PAID">PAGO</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
